{% extends "base.html" %}
{% load static %}
{% block conteudo %}

<h1>Ajuda - Loja Virtual</h1>

<h2>Objetivo: </h2>
<p>Este site, uma loja virtual, foi feito por objetivos educacionais, são eles: aprender o básico da linguagem de programação Python; utilizar o Python para criar um site usando o Framework Django; compreender o básico do funcionamento de um Framework, nesse caso o Django.</p>

<img src="{% static 'img/PythonAndDjango.png' %}" style="height: 324px; width: auto">

<h3>Bibliografia: </h3>
<p>Livro Base: "Desenvolvimento web ágil com Python e Django - Francisco Marcelo de Barros Maciel".</p>
<p>Aulas e Slides da professora Sílvia Campos (IPRJ-UERJ).</p>

{% endblock conteudo %}
